    h1 {
        color: cadetblue;
        text-align: center;
    }
    
    h4 {
        color: darkslategrey;
        font-family: 'Times New Roman', Times, serif;
    }
    
    form {
        color: darkslategrey;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .akan-footer {
        color: darkslategrey;
        font-family: 'Times New Roman', Times, serif;
    }